<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form action="./signin" method="post">
    <%
    if(typeof(error) !== 'undefined'){
    %>
    <label for=""><%= error %></label>
    <%
    }
    %>
    <%
    if(typeof(success) !== 'undefined'){
    %>
    <label for=""><%= success %></label>
    <%
    }
    %>
    <div>
        <label for="username">用户名</label>
        <input type="text" placeholder="username" id='username' name="username" required>
    </div>
    <div>
        <label for="password">密码</label>
        <input type="password" placeholder="username" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" value="登录">
    </div>
</form>
</body>
</html>